@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap");

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

:root {
  --main-text: #ffffff;
  --main-background: #0e2133;
  --main-background-light: #0e213383;
  --secondary-text: #0e2133;
  --secondary-background: #ffffff;
  --tertiary-color: #fa5333;
}

.club-container {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.club-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}
.club-card {
  position: relative;
  border: 1px solid var(--main-text);
  border-radius: 12px;
  padding: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background: var(--secondary-background);
  color: var(--secondary-text);
  overflow: hidden;
  transition: background 0.5s ease, color 0.3s ease;
}

.club-card:hover {
  background: var(--main-background-light);
  color: var(--main-text);
  box-shadow: 0 4px 8px var(--main-background);
}

.club-card:hover .day {
  color: var(--main-text);
}

.club-card:hover .hours {
  color: var(--main-text);
}

.club-hours {
  margin-top: 10px;
}

.opening-hours-item {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
  font-size: 0.9rem;
  color: var(--secondary-text);
}

.day {
  font-weight: bold;
  text-align: left;
  color: var(--secondary-text);
}

.hours {
  text-align: right;
  font-style: italic;
  color: var(--secondary-text);
}