/* Club overview styles */
.club-container {
  padding: 40px;
  font-family: Arial, sans-serif;
}

.title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2rem;
  font-weight: bold;
  color: var(--main-text);
}

.map-and-cards {
  display: flex;
  flex-direction: column; /* Stack map and cards vertically */
  gap: 20px; /* Space between the map and the cards */
}

.map-container {
  width: 100%;
  max-width: 800px;
  height: 300px;
  margin: 0 auto;
}

.club-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.club-card {
  background-color: var(--secondary-background);
  color: var(--secondary-text);
  padding: 16px;
  border-radius: 12px;
  border: 1px solid var(--main-text);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background 0.5s ease, transform 0.3s ease;
}

.club-card a {
  text-decoration: none;
  color: inherit;
  display: block;
}

.club-name {
  font-style: italic;
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.club-card:hover {
  color: var(--secondary-text);
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2), 0px 4px 8px var(--main-background-light);
}

/* Consolidated hover styles */
.club-card:hover .club-name,
.club-card:hover .day,
.club-card:hover .hours {
  color: var(--secondary-color);
}

.club-hours {
  margin-top: 10px;
}

.opening-hours-item {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
  font-size: 0.9rem;
  color: var(--secondary-text);
}

.day {
  font-weight: bold;
  text-align: left;
  color: var(--secondary-text);
}

.hours {
  text-align: right;
  font-style: italic;
  color: var(--secondary-text);
}

.club-visitor-load {
  font-size: smaller;
  margin-top: 10px;
  color: var(--secondary-text);
}

.club-address {
  margin-bottom: 10px;
  font-size: 1rem;
  color: var(--secondary-text);
}

.club-card a:hover {
  text-decoration: none;
}

.club-card .club-name,
.club-card .club-address {
  transition: color 0.3s ease;
}
