/* Global styles */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap");

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

:root {
  --main-text: #ffffff;
  --main-background: #0e2133;
  --main-background-light: #0e213383;
  --secondary-text: #0e2133;
  --secondary-background: #ffffff;
  --tertiary-color: #fa5333;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--main-background);
  color: var(--main-text);
  margin: 0;
  padding: 0px;
  font-size: clamp(14px, 3vw, 18px);
  width: 100%;
  min-width: 320px;
  margin: 0;
}

header {
  background-color: var(--main-background);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-image {
  height: 100px;
  width: auto;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

li {
  margin-right: 20px;
}

a {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  color: var(--main-text);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

h1,
h2,
h3 {
  text-align: center;
}

h1 {
  font-size: 26px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

/* Full-Screen Loading Text */
.loading {
  position: fixed; /* Fixed position to stay in the middle of the screen */
  top: 0; /* Position at the top */
  left: 0; /* Position at the left */
  width: 100%; /* Make it take up the entire width */
  height: 100%; /* Make it take up the entire height */
  display: flex; /* Use flexbox for centering */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  font-size: 24px; /* Set font size for the loading text */
  font-weight: bold; /* Make the text bold */
  color: white; /* Set text color to white */
  background-color: var(--main-background-light); /* Semi-transparent black background */
  animation: fadeOut 2s ease-out forwards; /* Animation for fade-out effect */
}

/* Keyframes for the fade-out effect */
@keyframes fadeOut {
  0% {
    opacity: 1; /* Fully visible at the start */
  }
  90% {
    opacity: 1; /* Keep fully visible until near the end */
  }
  100% {
    opacity: 0; /* Fade out to 0 opacity at the end */
  }
}

.about-text-container {
  padding: 16px;
}

.about-text {
  background-color: var(--secondary-background);
  color: var(--secondary-text);
  position: relative;
  border: 1px solid var(--main-text);
  border-radius: 12px;
  padding: 16px;
  margin: auto; /* Centers horizontally */
  max-width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center; /* Optional if content should be centered */
}
